<div id="acctInfo">
  
  <ul id="currentInfo">
  
    <li>Username: <%= current_user.username %></li>
    <li>Email: <%= current_user.email %></li>
    <li>Password: <%= current_user.password %></li>
    <li>First Name: <%= current_user.fname %></li>
    <li>Last Name: <%= current_user.lname %></li>
    <li>Birthday: <%= current_user.birthday %></li>
    <li>Gender: <%= current_user.gender %></li>
    <li>Sign: <%= current_user.sign %></li>

  </ul>

  <form id="newInfo">

    <input type="text" name="username" placeholder="New Username"/>
    <input type="text" name="email" placeholder="New Email"/>
    <input type="password" name="password" placeholder="New Password"/>
    <input type="text" name="fname" placeholder="New First Name"/>
    <input type="text" name="lname" placeholder="New Last Name"/>
    <input type="date" name="birthday" placeholder="New Birthday"/>
    <input type="text" name="gender" placeholder="New Gender"/>
    <input type="text" name="sign" placeholder="New Sign"/>

    <input type="submit" value="Update Info">

  </form>

</div>