<div id="acctInfo">
  
    <strong>
      <ul id="fieldList">
        <li>Account Details</li><br><hr>
        <li>Username: </li><br>
        <li>Email: </li><br>
        <li>Password: </li><br>
        <li>First Name: </li><br>
        <li>Last Name: </li><br>
        <li>Birthday: </li><br>
        <li>Gender: </li><br>
        <li>Sign: </li><br>
      </ul>
    </strong>

  <ul id="currentInfo">
    
    <li>Current Info</li><br><hr>
    <li><%= current_user.username %></li><br>
    <li><%= current_user.email %></li><br>
    <li><%= current_user.password %></li><br>
    <li><%= current_user.fname %></li><br>
    <li><%= current_user.lname %></li><br>
    <li><%= current_user.birthday.strftime("%B %-d, %Y") %></li><br>
    <li><%= current_user.gender %></li><br>
    <li><%= current_user.sign %></li><br>

  </ul>

  <form id="newInfo" method="post" action="/acct">

    <label>New Info</label><br><hr>
    <input type="text" name="username" placeholder="New Username"/><br>
    <input type="email" name="email" placeholder="New Email"/><br>
    <input type="password" name="password" placeholder="New Password"/><br>
    <input type="text" name="fname" placeholder="New First Name"/><br>
    <input type="text" name="lname" placeholder="New Last Name"/><br>
    <input type="date" name="birthday" placeholder="New Birthday"/><br>
    <select name="gender" placeholder="New Gender"/>
        <option value = ""></option>
        <option value = "Male">Male</option>
        <option value = "Female">Female</option>
        <option value = "Depends on the day">Depends on the day</option>
        <option value = "Trans">Trans</option>
    </select><br>
    <select name="sign" placeholder="New Sign">
        <option value = ""></option>
        <option value = "Aries">Aries</option>
        <option value = "Taurus">Taurus</option>
        <option value = "Gemini">Gemini</option>
        <option value = "Cancer">Cancer</option>
        <option value = "Leo">Leo</option>
        <option value = "Virgo">Virgo</option>
        <option value = "Libra">Libra</option>
        <option value = "Scorpio">Scorpio</option>
        <option value = "Sagittarius">Sagitarrius</option>
        <option value = "Capricorn">Capricorn</option>
        <option value = "Aquarius">Aquarius</option>
        <option value = "Pisces">Pisces</option>
    </select><br>
    <br>
    <input type="submit" value="Update Info">

  </form>

</div>

<br><br><br><br><br><br>

<div id="deleteAcct">
  <form method="post" action="/deleteAcct">
    <input type="submit" value="Delete Account">
  </form>
</div>