<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Horo</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/jquery.js"></script>
  <script type="text/javascript" src="/script.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Raleway|Poiret+One|Josefin+Sans|Abel' rel='stylesheet' type='text/css'>
</head>
<body>

<% if flash[:notice] %>
	<div class="flash notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if flash[:alert] %>
	<div class= "alert notice">
		<%= flash[:alert] %>
	</div>
<% end %>

<% if flash[:logout] %>
	<div class="flash notice">
		<%= flash[:logout] %>
	</div>
<% end %>

<% if flash[:logout] %>
  <div class="flash notice">
    <%= flash[:logout] %>
  </div>
<% end %>

<% if flash[:welcome] %>
  <div class="flash notice">
    <%= flash[:welcome] %>
  </div>
<% end %>

<% if flash[:follow] %>
  <div class="flash notice">
    <%= flash[:follow] %>
  </div>
<% end %>


<nav class="navbar-default">
<ul class="navbar">
	<li><a href="/feed">Feed</a></li>
	<li><a href="/browse">Browse</a></li>
  <% if session[:user_id] %>
	<li><a href="/profile/<%= current_user.id %>">Profile</a></li>
  <% end %>
</ul>

<% if session[:user_id] %>
	<ul class="usernamenav">
		<li>
	<%= current_user.username %>
			<ul class="fallback">
	       		<li>
	       			<a class="padding"  href="/acct">Account</a>
	       		</li>
	        	<li>
	        		<a class="paddinga" href="/logout">Log Out</a>
	        	</li>
	    	</ul>
		</li>
	</ul>
<% end %>
</nav>




  <%= yield %>
  
<div id="container">
   <div id="header"></div>
   <div id="body"></div>
   <div id="footer"></div>
</div>


<footer>All rights reserved. We are not responsible for the actions the users take while on horo. Note; Horoscopes dont work.</footer>
</body>
</html>
