<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Raleway|Poiret+One|Josefin+Sans|Abel' rel='stylesheet' type='text/css'>
</head>
<body>

<<<<<<< HEAD
  	<nav class="navbar-default">


  	<nav>

  		<ul class="navbar">
  			<li><a href="/feed">Feed</a></li>
  			<li><a href="/browse">Browse</a></li>
  			<li><a href="/profile">Profile</a></li>
  		</ul>

  		<% if session[:user_id] %>
  			<ul class="usernamenav">
  				<li>
  					<%= current_user.username %>
  				</li>
  			</ul>
  		<% end %>
  	</nav>


	<% if flash[:notice] %>
		<div class="flash notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if flash[:alert] %>
		<div class= "alert notice">
			<%= flash[:alert] %>
		</div>
		<% end %>
=======
    <nav class="navbar-default">


    <nav>

      <ul class="navbar">
        <li><a href="/feed">Feed</a></li>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>

      <% if session[:user_id] %>
        <ul class="usernamenav">
          <li>
            <%= current_user.username %>
          </li>
        </ul>
      <% end %>
    </nav>


  <% if flash[:notice] %>
    <div class="flash notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class= "alert notice">
      <%= flash[:alert] %>
    </div>
    <% end %>
>>>>>>> master


  <%= yield %>

</body>
</html>