<% if user_textbox_display %>
<form id = "post_form" action = "/addPost" method = "POST">
  <textarea name = "content" placeholder = "Type 140 characters or less" maxlength = "140"></textarea>
  <input type = "Submit" value = "Post"></input>
</form>
<% end %>

<!-- I think in order to make this look right, the form should go in the middle div, along with the list of posts. -->
<h2 id = "posts_title">Your Posts:</h2>

<div id="followers">

  <form method="POST" action="/follow">

    <input type="hidden" name="followee" value="<%= @profile_id %>" />
    <input type="submit" value="Follow <%= @profile_username %>" />

  </form>
  
  <div id="followerList">

    <h3>Followers:</h3><br>
    <ol>
      <% if !@followers.nil? %>

        <% @followers.each do |follower| %>
        <li><%= User.find(follower.follower_id).username %></li>
        
        <% end %>
      
      <% end %>      
    </ol>
  </div>
  
</div>



<div class = "user_post">

  <% @posts.reverse_each do |post| %>
  
  <p class = "post_content">  
    <%= post.content %>
  </p>
  <p class = "post_username">  
    <%= User.find(post.user_id).username %>
  </p>
  <p class = "post_timestamp">
    <%= post.post_date.getlocal.strftime("%b %-d, %Y  %l:%M %p") %>
  </p>
  <button class = "edit_post_btn" value="<%= post.id %>">Edit</button>
  
<!-- Hidden until edit button clicked -->
<!-- Update Post -->
  <form class = "update_post_form" action = "/updatePost" method = "POST">
    <textarea name = "content" placeholder = "Type 140 characters or less" maxlength = "140"><%= post.content %></textarea>
    <input type = "Submit" id = "cancel_post_edit" value = "Cancel"></input>
    <input type = "Submit" value = "Update"></input>
    <input type="hidden" value="<%= post.id %>" name="post_update"></input>
  </form>

<!-- Delete post button -->
  <form class = "post_delete" method="POST" action="/deletePost">
    <input type="submit" value="Delete"></input>
    <input type="hidden" value="<%= post.id %>" name="post_delete"></input>
  </form>
  <hr>
  <% end %>  
</div>








<div id="acctData">

  <img src = "http://cdn.xl.thumbs.canstockphoto.com/canstock23435118.jpg">
  <h3>Username:</h3>
    <p><%= @profile_username %></p>
  <h3>Name:</h3>
    <p><%= @fname %>  <%= @lname.first if !@lname.nil? %>.</p>
  <h3>Birthday:</h3>
    <p><%= @birthday.strftime("%B %-d, %Y") if !@birthday.nil? %></p>
    <h3>Email:</h3>
      <p><%= @email %></p>
  <div id="acctData_align1">
    <h3>Gender:</h3>
      <p><%= @gender %></p>
    <h3>Sign:</h3>
      <p><%= @sign %></p>
  </div>
  <div id="acctData_align2">
    <h3>Lives in:</h3>
      <p><%= @location %></p>
  <h3>Most Known For:</h3>
      <p><%= @known_for %></p>
  </div>
  <h3>Favorite Games:</h3>
    <p><%= @favorite_games %></p>
  <h3>Goals:</h3>
    <p><%= @goals %></p>
  <div id="acctData_align3">
    <h3># Followers: <%= Follower.where(followee_id: @profile_id).count() %></h3>
  </div>
  <div id="acctData_align4">
    <h3># Following: <%= Follower.where(follower_id: @profile_id).count() %></h3>
  </div>
</div>

  <div id="container">
   <div id="header"></div>
   <div id="body"></div>
   <div id="footer"></div>
</div>